@model admin.Models.Client
@{
  ViewBag.Title = "Client";
}

@using (Html.BeginForm((string)ViewBag.method, "Clients", FormMethod.Post))
{
  @Html.TextBoxFor(x => x.ClientId, new { @hidden=true } );
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        First Name
      </label>
      @Html.TextBoxFor(x => x.ClientName, new {
        @class = "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
        @id="grid-first-name",
        @type="text",
        @placeholder="Jane"
      })
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Email
      </label>
      @Html.TextBoxFor(x => x.ClientEmail, new {
        @class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
        @id="grid-password",
        @type="text",
        @placeholder="example@example.com" 
      })
    </div>
  </div>
  <button type="submit"
    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <span>Actualizar</span>
  </button>
}